# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.{csproj,props,slnx,yml,sh,json,js,jsx,ts,tsx,css}]
indent_style = space
indent_size = 2

[*.cs]
# dotnet_diagnostic.IDE0005.severity = warning  # IDE0005: Remove unnecessary using directives
dotnet_diagnostic.IDE0130.severity = warning    # IDE0130: Namespace does not match folder structure
csharp_style_namespace_declarations = file_scoped:warning

[*.cs]
dotnet_diagnostic.CA1031.severity = none  # CA1031: Do not catch general exception types
dotnet_diagnostic.CA1515.severity = none  # CA1515: Consider making public types internal
dotnet_diagnostic.CA1812.severity = none  # CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1848.severity = none  # CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1873.severity = none  # CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA2007.severity = none  # CA2007: Do not directly await a Task
dotnet_diagnostic.IDE0290.severity = none # IDE0290: Use primary constructor

[Applications/Hanamilegal.Web.InternalApp/**/*.cs]
dotnet_diagnostic.CA1054.severity = none  # CA1054: URI parameters should not be strings
dotnet_diagnostic.CA1056.severity = none  # CA1056: URI properties should not be strings
dotnet_diagnostic.CA2234.severity = none  # CA2234: Pass System.Uri objects instead of strings

[Applications/Hanamilegal.Web.InternalApp/**/*.cshtml.cs]
dotnet_diagnostic.SA1649.severity = none  # SA1649: File name should match first type name

[Api/**/Migrations/*.cs]
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.CA1062.severity = none
