ACCOUNTS_DB_USER="user"
ACCOUNTS_DB_PASSWORD="_Password12345"
ACCOUNTS_DB_NAME="AccountsDb"

ACCOUNTS_DB_INIT_USER_EMAIL="web.user@example.com"
ACCOUNTS_DB_INIT_USER_PASSWORD="_Password12345"
ACCOUNTS_DB_INIT_USER_ROLE="User"

ACCOUNTS_DB_INIT_APPLICATION_VIEWER_EMAIL="web.application_viewer@example.com"
ACCOUNTS_DB_INIT_APPLICATION_VIEWER_PASSWORD="_Password12345"
ACCOUNTS_DB_INIT_APPLICATION_VIEWER_ROLE="ApplicationViewer"

ACCOUNTS_DB_INIT_ADMIN_EMAIL="web.admin@example.com"
ACCOUNTS_DB_INIT_ADMIN_PASSWORD="_Password12345"
ACCOUNTS_DB_INIT_ADMIN_ROLE="Admin"

APPLICATIONS_DB_USER="user"
APPLICATIONS_DB_PASSWORD="_Password12345"
APPLICATIONS_DB_NAME="ApplicationsDb"

JWT_KEY="d9515c771d985ab33a414b7f034e6f58036517f0a51702e6bd24de9fcdbca3356299f7af1ef0d67bbc8d3e1ac666d78e741c01380a5c8c7449d8ecd9ba594abed9ddd6423de33ef76dba5217cb2ef3387ac12dd41c6ecd8d67f7b4e2e663c260efaa68b88ea8772acc07e27f11c3eb9957c5aba89130e07113b8ea770e730fea"
JWT_ISSUER="Hanamilegal.Web"
JWT_AUDIENCE="Hanamilegal.Web"
JWT_EXPIRE_MINUTES="60"
JWT_CLOCK_SKEW_SECONDS="300"
