# Editor
.vscode
.vs
.idea

# Local configuration
.env
.env.*

# Logs and temporary files
*.log
*.tmp
*.temp

# Docker files
Dockerfile*
.dockerignore

# Node modules and build artifacts
node_modules
dist

# TypeScript build / cache
*.tsbuildinfo
.cache
.vite
