@font-face {
  font-family: "Cambria";
  src: url("/fonts/cambria-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cambria";
  src: url("/fonts/cambria-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cambria";
  src: url("/fonts/cambria-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html,
body,
#root {
  --color-background: #2a2724;
  --color-common: #f0ede9;
  --color-primary: #adc4ff;
  --color-secondary: gray;
  --color-highlight: #fd3005;

  --font-size-small: 16px;
  --font-size-normal: 18px;
  --font-size-big: 20px;
  --font-size-subtitle: 28px;
  --font-size-title: 72px;

  font-family: "Cambria", monospace, sans-serif;
  color: var(--color-common);
  background-color: var(--color-background);
}

.color-common {
  color: var(--color-common) !important;
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

.color-highlight {
  color: var(--color-highlight) !important;
}

.small-text {
  font-size: var(--font-size-small) !important;
}

.normal-text {
  font-size: var(--font-size-normal) !important;
}

.big-text {
  font-size: var(--font-size-big) !important;
}

.subtitle-text {
  font-size: var(--font-size-subtitle) !important;
}

.title-text {
  font-size: var(--font-size-title) !important;
}

@media (max-width: 720px) {
  html,
  body,
  #root {
    --font-size-small: 16px;
    --font-size-normal: 18px;
    --font-size-big: 20px;
    --font-size-subtitle: 24px;
    --font-size-title: 38px;
  }
}
