.page-center-container {
  width: 100%;
  min-height: 90dvh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-center-left-subcontainer {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-nav-link-container:hover {
  text-shadow: 0 0 0.5px #494949;
}

.page-title {
  font-size: var(--font-size-title);
  font-weight: 600;
}

.page-subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  margin-bottom: 15px;
}

@media (max-width: 720px) {
  .page-center-left-subcontainer {
    max-width: 90%;
  }
}
