# Editor
.vscode
.vs
.idea

# Local configuration
**/appsettings.Local.json
.env
.env.*

# Logs and temporary files
*.log
*.tmp
*.temp

# Docker files
Dockerfile*
.dockerignore

# Build artifacts
**/bin/
**/obj/
**/out/
**/publish/

# Diagnostics
*.sarif

# NuGet
**/packages/
*.nupkg
*.snupkg
