.page-container {
  width: 100%;
  min-height: 90dvh;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-center-container {
  width: 100%;
  min-height: 90dvh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-center-left-subcontainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-nav-link-container:hover {
  text-shadow: 0 0 0.5px #494949;
}

.page-title {
  font-size: var(--font-size-title);
  font-weight: 900;
}

.page-title.two-lines-title {
  display: inline-block;
}

.page-title.two-lines-title .word1,
.page-title.two-lines-title .word2 {
  display: block;
}

.page-title.two-lines-title .word2 {
  text-align: right;
}

.page-title.uppercase-title {
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.page-subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  margin-bottom: 15px;
}

.vertical-line {
  width: 2px;
  height: 100%;
  align-self: stretch;
  background: var(--color-muted);
}

@media (max-width: 720px) {
  .page-center-left-subcontainer {
    max-width: 90%;
  }

  .vertical-line {
    display: none;
  }
}
