.contact-us-element {
  position: relative;
}

.contact-us-element input,
.contact-us-element select,
.contact-us-element textarea {
  width: 100%;
  padding: 14px 12px 12px 10px;
  border-radius: 12px;
  border: 1.5px solid;
  border-color: var(--color-secondary);
  background: var(--color-common);
  color: var(--color-background);
  font-size: var(--font-size-small);
  outline: none;
  box-sizing: border-box;
}

.contact-us-element input:hover,
.contact-us-element select:hover,
.contact-us-element textarea:hover {
  border-color: var(--color-highlight-primary);
  box-shadow: 0 4px 16px var(--color-shadow-highlight-primary);
}

.contact-us-element input:focus,
.contact-us-element select:focus,
.contact-us-element textarea:focus {
  border-color: var(--color-highlight-secondary);
  box-shadow: 0 4px 16px var(--color-shadow-highlight-secondary);
}

.contact-us-checkbox {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  user-select: none;
  color: var(--color-common);
  font-size: var(--font-size-normal);
}

.contact-us-checkbox label {
  cursor: pointer;
}

.contact-us-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
}
